nav {
  display: flex;
  padding: 2rem;
  background-color: black;
  justify-content: space-around;
}

nav > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav > a:hover {
  color: rgb(231, 231, 231);
}

nav > a.active {
  text-decoration: line-through;
}
